<div class="card mb-3" style="max-width: 640px;" id="quotes-list">
  <div class="row g-0" id="single-quote">
    <div class="col-md-4" id="points-statistics">
      <div class="value" id="value">
        {{quote.votes}}
      </div>
      <div class="label" id="points-label">
        Votes
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{quote.quotename}}</h5>
        <p class="card-text">{{quote.author}}</p>
        <footer class="blockquote-footer">This quote was posted by <cite title="Source Title">{{quote.name}}</cite></footer>
        <p class="card-text"><small class="text-muted">Last updated {{quote.date | dateAgo}}</small></p>
        <div>
          <a href (click) = "voteUp()">
            <img src="https://img.icons8.com/ultraviolet/40/000000/good-quality--v1.png"/>
          </a>
          upvote
          <a href (click)="voteDown()">
            <img src="https://img.icons8.com/ultraviolet/40/000000/poor-quality.png"/>
          </a>
          downvote
        </div>
      </div>
    </div>
  </div>
</div>
